<div>
  <h2>About Me</h2>

  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-image">
        <img src="assets/images/graduation.jpeg" alt="Graduated High School">
      </div>
      <div class="timeline-event">
        <h3>Graduated High School</h3>
        <p>2014</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-image">
        <img src="assets/images/kids.jpg" alt="Became a Wife and Mom">
      </div>
      <div class="timeline-event">
        <h3>Became a Wife and Mom</h3>
        <p>2016</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-image">
        <img src="assets/images/apo.webp" alt="Certified Agile Facilitator, Coach, and Product Owner">
      </div>
      <div class="timeline-event">
        <h3>Certified Agile Facilitator, Coach, and Product Owner</h3>
        <p>2019</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-image">
        <img src="assets/images/ba.png" alt="Product Director at Balanced Agility">
      </div>
      <div class="timeline-event">
        <h3>Started Work at Balanced Agility as Product Director</h3>
        <p>2020</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-image">
        <img src="assets/images/bellevue.jpg" alt="Graduated from Bellevue University">
      </div>
      <div class="timeline-event">
        <h3>Graduated from Bellevue University</h3>
        <p>2025</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-image">
        <img src="assets/images/about.jpg" alt="Looking for Work">
      </div>
      <div class="timeline-event">
        <h3>Looking for New Opportunities</h3>
        <p>2025</p>
      </div>
    </div>
  </div>

  <div class="about-paragraphs">
    <p>Hello! I'm Amanda, a dedicated agile facilitator, product owner, and full stack web developer with a passion for empowering others. My journey into the world of web development began with a strong desire to create meaningful digital experiences. Since graduating high school in 2014, I've embarked on various life adventures, including becoming a wife and mom in 2016, which has profoundly shaped my approach to both personal and professional growth.</p>
    <p>In 2019, I achieved certification as an Agile Facilitator, Coach, and Product Owner, which allowed me to fully embrace agile methodologies and lead with a servant leadership mindset. This journey continued as I took on the role of Product Director at Balanced Agility in 2020, where I work closely with teams to deliver value-driven solutions.</p>
    <p>I graduated from Bellevue University in 2025 with a bachelors degree in web development. This enhanced my technical skills, which I now apply to my work with even greater passion and precision. One of my deepest passions is supporting and growing women-owned and minority-owned businesses, as well as non-profits, particularly within my beloved home state of Nebraska. I am committed to using my web development skills to build platforms that empower these communities and help them thrive.</p>
    <p>Whether it's through developing robust websites or offering agile coaching, my goal is to make a positive impact and contribute to a vibrant, inclusive economy. Thank you for taking the time to learn a bit about me and my journey. Let's connect and create something amazing together!</p>
  </div>
</div>
