<div>
  <h2>My Projects</h2>
  <p>Click on the project boxes to view the detailed repository on GitHub.</p>

  <div class="course">
    <h3>Web-200 Fundamentals of Web Development</h3>
    <p>This course introduced me to the basics of web development, focusing on HTML and CSS to build accessible and standard-compliant web pages.</p>
    <div class="project">
      <a href="https://github.com/AR15NE/bioSite" target="_blank">
        <h4>BioSite</h4>
        <p><strong>Description:</strong> This project involved creating a basic website with HTML and CSS.<br>
           <strong>Technologies:</strong> HTML, CSS.<br>
           <strong>Learnings:</strong> I learned the foundational principles of web development, focusing on clean code, web standards, and accessibility.</p>
      </a>
    </div>
  </div>

  <div class="course">
    <h3>Web-231 Enterprise JavaScript I</h3>
    <p>In this course, I learned the fundamentals of JavaScript programming, focusing on syntax, design, and debugging to build enterprise solutions.</p>
    <div class="project">
      <a href="https://github.com/AR15NE/web-231/commit/ed1a229c773c6bb258bdc30fb0eda4257b9ff603" target="_blank">
        <h4>Basic JavaScript Application</h4>
        <p><strong>Description:</strong> This project involved creating a simple JavaScript application to understand basic programming concepts.<br>
           <strong>Technologies:</strong> JavaScript, HTML, CSS.<br>
           <strong>Learnings:</strong> I learned to apply JavaScript fundamentals, such as data types, control statements, and functions, to create functional web applications.</p>
      </a>
    </div>
    <div class="project">
      <a href="https://github.com/AR15NE/web-231/blob/main/week-9/project07-01/project07-01.js" target="_blank">
        <h4>Interactive Web Page</h4>
        <p><strong>Description:</strong> This project required developing an interactive web page using JavaScript.<br>
           <strong>Technologies:</strong> JavaScript, HTML, CSS.<br>
           <strong>Learnings:</strong> I explored how to enhance user experience by making web pages interactive using JavaScript.</p>
      </a>
    </div>
  </div>

  <div class="course">
    <h3>Web-330 Enterprise JavaScript II</h3>
    <p>This course helped me advance my JavaScript skills with object-oriented programming, unit testing, and solving real-world problems.</p>
    <div class="project">
      <a href="https://github.com/AR15NE/web-330/commit/8537807f80191ecccbf07940420bcd3aa77ff47f" target="_blank">
        <h4>Advanced JavaScript Application</h4>
        <p><strong>Description:</strong> This project involved creating a more complex application using advanced JavaScript concepts.<br>
           <strong>Technologies:</strong> JavaScript, Node.js, Express.<br>
           <strong>Learnings:</strong> I mastered advanced JavaScript techniques like object-oriented programming, unit testing, and modularization to build comprehensive applications.</p>
      </a>
    </div>
    <div class="project">
      <a href="https://github.com/AR15NE/web-330/commit/d4056f12fa2911bf35d9f22cf709b92ceace7a39" target="_blank">
        <h4>Real-Time Data Processing</h4>
        <p><strong>Description:</strong> This project focused on processing real-time data using JavaScript.<br>
           <strong>Technologies:</strong> JavaScript, Node.js, WebSockets.<br>
           <strong>Learnings:</strong> I gained experience in handling asynchronous operations and processing real-time data efficiently.</p>
      </a>
    </div>
  </div>

  <div class="course">
    <h3>Web-335 Introduction to NoSQL</h3>
    <p>In this course, I explored non-relational databases, understanding their structures and how they differ from relational databases.</p>
    <div class="project">
      <a href="https://github.com/AR15NE/web-335/commit/de0e0ba8febb6a18dac631dafa76a7d502a57cba" target="_blank">
        <h4>NoSQL Database Design</h4>
        <p><strong>Description:</strong> This project involved designing a NoSQL database structure.<br>
           <strong>Technologies:</strong> MongoDB, Python.<br>
           <strong>Learnings:</strong> I learned the key differences between relational and non-relational databases and how to design effective NoSQL database schemas.</p>
      </a>
    </div>
    <div class="project">
      <a href="https://github.com/AR15NE/web-335/commit/032f51da76a4e4292060005dd27ad497a742276d" target="_blank">
        <h4>Data Retrieval Application</h4>
        <p><strong>Description:</strong> This was a group project where we built an application to retrieve data from a NoSQL database.<br>
           <strong>Technologies:</strong> MongoDB, Python.<br>
           <strong>Learnings:</strong> I collaborated with peers to enhance my skills in data retrieval and manipulation using NoSQL databases.</p>
      </a>
    </div>
  </div>

  <div class="course">
    <h3>Web-340 Node.js</h3>
    <p>This course allowed me to build web-based applications using Node.js and Express, managing data with MongoDB and creating RESTful APIs.</p>
    <div class="project">
      <a href="https://github.com/AR15NE/web-340/commit/ce59ac5c0f84c40be210f5920742d61c5e23e71c" target="_blank">
        <h4>Node.js Web Application</h4>
        <p><strong>Description:</strong> This project involved creating a web-based application using Node.js and Express.<br>
           <strong>Technologies:</strong> Node.js, Express, MongoDB.<br>
           <strong>Learnings:</strong> I created and deployed a web application, gaining experience in server-side development and database management.</p>
      </a>
    </div>
  </div>

  <div class="course">
    <h3>Web-420 RESTful APIs</h3>
    <p>This course helped me discover the purpose and management of APIs, focusing on REST methodologies, security, and best practices using Node.js.</p>
    <div class="project">
      <a href="https://github.com/AR15NE/web-420/tree/main/in-n-out-books" target="_blank">
        <h4>API Design and Implementation</h4>
        <p><strong>Description:</strong> This project focused on designing and implementing a RESTful API.<br>
           <strong>Technologies:</strong> Node.js, Express, MongoDB, OpenAPI.<br>
           <strong>Learnings:</strong> I designed and documented a RESTful API, implementing best practices for security and efficiency.</p>
      </a>
    </div>
  </div>

  <div class="course">
    <h3>Web-425 Angular with TypeScript</h3>
    <p>This course allowed me to develop client-rich applications with Angular and TypeScript, mastering web application frameworks and industry best practices.</p>
    <div class="project">
      <a href="https://github.com/AR15NE/web-425/tree/main/rpg-character-builder" target="_blank">
        <h4>RPG Character Builder</h4>
        <p><strong>Description:</strong> This project involved creating an RPG character builder using Angular and TypeScript.<br>
           <strong>Technologies:</strong> Angular, TypeScript, HTML, CSS.<br>
           <strong>Learnings:</strong> I developed a comprehensive single-page application, enhancing my skills in Angular and TypeScript.</p>
      </a>
    </div>
    <div class="project">
      <a href="https://github.com/AR15NE/portfolio" target="_blank">
        <h4>Portfolio Website</h4>
        <p><strong>Description:</strong> This website is a project demonstrating my skills and experience.<br>
           <strong>Technologies:</strong> Angular, TypeScript, HTML, CSS.<br>
           <strong>Learnings:</strong> I created a polished portfolio site, showcasing my web development skills and professional journey.</p>
      </a>
    </div>
  </div>
</div>


