<div class="landing-page">
  <div class="intro">
    <div class="quote">
      <h1>"We love because He first loved us."</h1>
    </div>
    <div class="image">
      <img src="assets/images/landing-page.png" alt="Logo" class="image of amanda rovey">
    </div>
  </div>
  <div class="content">
    <p>Hello, and welcome to my professional portfolio! I'm Amanda, an experienced agile facilitator, product owner, and full stack web developer.</p>

    <p>My professional journey is driven by a passion for fostering growth in both individuals and teams. With a strong background in agile methodologies, I have successfully facilitated numerous projects,
      ensuring they are delivered on time and meet the highest standards. As a product owner, I’ve managed product backlogs and collaborated closely with cross-functional teams to deliver value-driven solutions.
      My leadership style is grounded in servant leadership principles, dedicated to building up others, growing teams, and products. This approach is now complemented by my full stack development experience from my
      degree at Bellevue University, allowing me to merge technical skills with leadership and strategic insights.</p>

    <p>While I am deeply committed to my professional growth, I also believe in living a fulfilling and balanced life. Here are a few unique experiences I hope to accomplish:</p>
    <ul>
      <li>Visit the Holy Land:Experiencing the historical and spiritual significance of places like Jerusalem is a dream of mine.</li>
      <li>Run a Marathon: After losing 147 lbs (and counting), this is a feat I'm currently training for.</li>
      <li>Volunteer Abroad:Combining my love for travel and service by participating in a volunteer program overseas.</li>
    </ul>
  </div>
</div>
